In [2]:
# 라이브러리 임포트
import pandas as pd

In [3]:
# 최근 주택 전국 평균 분양가격
df_last = pd.read_csv('/content/drive/MyDrive/데이터파일/주택도시보증공사_전국 평균 분양가격(2019년 12월).csv',encoding='cp949')
df_last.shape

(4335, 5)

In [4]:
# 미리보기
df_last.head()
df_last.tail()

     지역명               규모구분    연도   월 분양가격(㎡)
4330  제주                 전체  2019  12    3882
4331  제주         전용면적 60㎡이하  2019  12     NaN
4332  제주   전용면적 60㎡초과 85㎡이하  2019  12    3898
4333  제주  전용면적 85㎡초과 102㎡이하  2019  12     NaN
4334  제주        전용면적 102㎡초과  2019  12    3601

In [5]:
# 2013년 9월부터 2015년 8월까지 데이터

df_first = pd.read_csv('/content/drive/MyDrive/데이터파일/전국 평균 분양가격(2013년 9월부터 2015년 8월까지).csv',encoding='cp949')
df_first.shape

(17, 22)

In [6]:
# 데이터 미리보기

print(df_first.head())
df_first.tail()

   지역  2013년12월  2014년1월  2014년2월  ...  2015년5월  2015년6월  2015년7월  2015년8월
0  서울     18189    17925    17925  ...    18367    18374    18152    18443
1  부산      8111     8111     9078  ...     9345     9515     9559     9581
2  대구      8080     8080     8077  ...     8568     8542     8542     8795
3  인천     10204    10204    10408  ...    10551    10443    10443    10449
4  광주      6098     7326     7611  ...     7877     7881     8089     8231

[5 rows x 22 columns]

    지역  2013년12월  2014년1월  2014년2월  ...  2015년5월  2015년6월  2015년7월  2015년8월
12  전북      6282     6281     5946  ...     6556     6601     6750     6580
13  전남      5678     5678     5678  ...     6050     6243     6286     6289
14  경북      6168     6168     6234  ...     6966     6887     7035     7037
15  경남      6473     6485     6502  ...     7717     7715     7723     7665
16  제주      7674     7900     7900  ...     7285     7343     7343     7343

[5 rows x 22 columns]

In [7]:
# info로 요약정보 확인하기

print(df_last.info())
print(df_first.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4335 entries, 0 to 4334
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지역명      4335 non-null   object
 1   규모구분     4335 non-null   object
 2   연도       4335 non-null   int64
 3   월        4335 non-null   int64
 4   분양가격(㎡)  4058 non-null   object
dtypes: int64(2), object(3)
memory usage: 169.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 22 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   지역        17 non-null     object
 1   2013년12월  17 non-null     int64
 2   2014년1월   17 non-null     int64
 3   2014년2월   17 non-null     int64
 4   2014년3월   17 non-null     int64
 5   2014년4월   17 non-null     int64
 6   2014년5월   17 non-null     int64
 7   2014년6월   17 non-null     int64
 8   2014년7월   17 non-null     int64
 9   2014년8월   17 non-null     int64
 10  2014년9월   17 non-null     int64
 11  2014년10월  17 non-null     int64
 12  2014년11월  17 non-null     int64
 13  2014년12월  17 non-null     int64
 14  2015년1월   17 non-null     int64
 15  2015년2월   17 non-null     int64
 16  2015년3월   17 non-null     int64
 17  2015년4월   17 non-null     int64
 18  2015년5월   17 non-null     int64
 19  2015년6월   17 non-null     int64
 20  2015년7월   17 non-null     int64
 21  2015년8월   17 non-null     int64
dtypes: int64(21), object(1)
memory usage: 3.0+ KB
None

In [8]:
# 결측치 확인하기

df_last.isnull().sum()

지역명          0
규모구분         0
연도           0
월            0
분양가격(㎡)    277
dtype: int64

In [9]:
# 데이터 타입 변경하기

df_last["분양가격"] = pd.to_numeric(df_last['분양가격(㎡)'],errors = 'coerce')
df_last["분양가격"].head(1)

0    5841.0
Name: 분양가격, dtype: float64

In [12]:
# 평당 분양가격 구하기
# 2013년의 데이터는 평당분양가격을 기준으로 되어있다. 분양가격을 평당기준으로 보기위해 3.3을 곱해서 "평당분양가격" 컬럼을 만들어 추가하기

df_last["평당분양가격"] = df_last["분양가격"] * 3.3
df_last.head(1)

  지역명 규모구분    연도   월 분양가격(㎡)    분양가격   평당분양가격
0  서울   전체  2015  10    5841  5841.0  19275.3

In [13]:
# 분양가격 요약하기

df_last.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4335 entries, 0 to 4334
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지역명      4335 non-null   object
 1   규모구분     4335 non-null   object
 2   연도       4335 non-null   int64
 3   월        4335 non-null   int64
 4   분양가격(㎡)  4058 non-null   object
 5   분양가격     3957 non-null   float64
 6   평당분양가격   3957 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 237.2+ KB

In [14]:
# 수치데이터로 변경된 분양가격컬럼 요약하기

df_last["분양가격"].describe()

count     3957.000000
mean      3238.128633
std       1264.309933
min       1868.000000
25%       2441.000000
50%       2874.000000
75%       3561.000000
max      12728.000000
Name: 분양가격, dtype: float64

In [15]:
# 규모구분을 전용면적 컬럼으로 변경하기
# 규모구분 컬럼은 전용면적에 대한 내용이 있습니다. 전용면적이라는 문구가 공통적으로 들어가고 규모구분보다는 전용면적이 좀 더 직관적이기 때문에 전용면적이라는 컬럼을 새로 만들어주고 기존 규모구분의 값에서 전용면적, 초과, 이하 등의 문구를 빼고 간결하게 만들어 봅니다.
# 이 때 str 의 replace 기능을 사용해서 예를들면 "전용면적 60㎡초과 85㎡이하"라면 "60㎡~85㎡" 로 변경해 줍니다.

df_last["규모구분"].unique()

array(['전체', '전용면적 60㎡이하', '전용면적 60㎡초과 85㎡이하', '전용면적 85㎡초과 102㎡이하',
       '전용면적 102㎡초과'], dtype=object)

In [16]:
df_last["전용면적"] = df_last["규모구분"].str.replace("전용면적", "")
df_last["전용면적"] = df_last["전용면적"].str.replace("초과", "~")
df_last["전용면적"] = df_last["전용면적"].str.replace("이하", "")
df_last["전용면적"] = df_last["전용면적"].str.replace(" ","").str.strip()
df_last["전용면적"]

0             전체
1            60㎡
2        60㎡~85㎡
3       85㎡~102㎡
4          102㎡~
          ...
4330          전체
4331         60㎡
4332     60㎡~85㎡
4333    85㎡~102㎡
4334       102㎡~
Name: 전용면적, Length: 4335, dtype: object

In [17]:
# 필요없는 컬럼 제거하기
# drop을 통해 전처리 해준 컬럼을 제거합니다. pandas의 데이터프레임과 관련된 메소드에는 axis 옵션이 필요할 때가 있는데 행과 열중 어떤 기준으로 처리를 할 것인지를 의미합니다. 보통 기본적으로 0으로 되어 있고 행을 기준으로 처리함을 의미합니다. 메모리 사용량이 줄어들었는지 확인합니다.
df_last.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4335 entries, 0 to 4334
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지역명      4335 non-null   object
 1   규모구분     4335 non-null   object
 2   연도       4335 non-null   int64
 3   월        4335 non-null   int64
 4   분양가격(㎡)  4058 non-null   object
 5   분양가격     3957 non-null   float64
 6   평당분양가격   3957 non-null   float64
 7   전용면적     4335 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 271.1+ KB

In [18]:
# drop 사용시 axis에 유의하자.
# axis 0 : 행, 1 : 열
df_last = df_last.drop(["규모구분", "분양가격(㎡)"], axis=1)
df_last.head(1)

  지역명    연도   월    분양가격   평당분양가격 전용면적
0  서울  2015  10  5841.0  19275.3   전체

In [19]:
# 컬럼 제거를 통해 메모리 사용량이 줄었는가? 확인해보기

df_last.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4335 entries, 0 to 4334
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4335 non-null   object
 1   연도      4335 non-null   int64
 2   월       4335 non-null   int64
 3   분양가격    3957 non-null   float64
 4   평당분양가격  3957 non-null   float64
 5   전용면적    4335 non-null   object
dtypes: float64(2), int64(2), object(2)
memory usage: 203.3+ KB

In [20]:
# gropby로 데이터 집계하기
# gropby를 통해 데이터를 그룹화해서 연산을 해보자.
# 지역명으로 분양가격의 평균을 구하고 막대그래프(bar)로 시각화 합니다.
# df.groupby(["인덱스로 사용할 컬럼명"])["계산할 컬럼 값"].연산()

df_last.groupby(["지역명"])["평당분양가격"].mean()

지역명
강원     7890.750000
경기    13356.895200
경남     9268.778138
경북     8376.536515
광주     9951.535821
대구    11980.895455
대전    10253.333333
부산    12087.121200
서울    23599.976400
세종     9796.516456
울산    10014.902013
인천    11915.320732
전남     7565.316532
전북     7724.235484
제주    11241.276712
충남     8233.651883
충북     7634.655600
Name: 평당분양가격, dtype: float64

In [28]:
# 지역명, 전용면적으로 평당분양가격의 평균을 구하자.
# unstack()을 사용하면 group으로 묶여진 데이터를 matrix 형태로 전환해줍니다.
# ? : groupby할때 전용면적, 지역명 순서를 바꾸면 결과가 다르게 나올까?
df_last.groupby(["전용면적", "지역명"])["평당분양가격"].mean().unstack()

지역명                강원         경기  ...           충남        충북
전용면적                              ...
102㎡~     8311.380000  14771.790  ...  8689.169388  8195.352
60㎡       7567.098000  13251.744  ...  7911.156000  7103.118
60㎡~85㎡   7485.588000  12523.566  ...  7818.954000  7264.488
85㎡~102㎡  8749.557143  13677.774  ...  9120.045000  8391.306
전체        7477.536000  12559.602  ...  7815.324000  7219.014

[5 rows x 17 columns]

In [31]:
# 연도, 지역명으로 평당분양가격의 평균을 구합니다.

df_last.groupby(["연도", "지역명"])["평당분양가격"].mean().unstack()

지역명            강원        경기            경남  ...            제주           충남        충북
연도                                         ...
2015  7188.060000  11060.94   8459.220000  ...   7951.075000  7689.880000  6828.800
2016  7162.903846  11684.97   8496.730000  ...   9567.480000  7958.225000  7133.335
2017  7273.560000  12304.98   8786.760000  ...  12566.730000  8198.422222  7473.120
2018  8219.255000  14258.42   9327.670000  ...  11935.968000  8201.820000  8149.295
2019  8934.475000  15665.54  10697.615789  ...  11828.469231  8748.840000  7970.875

[5 rows x 17 columns]

In [34]:
# pivot table로 데이터 집계하기
# groupby로 했던 작업을 pivot table로 똑같이 해보기
pd.pivot_table(df_last, index=["지역명"], values=["평당분양가격"]).mean()

평당분양가격    10640.688087
dtype: float64